verdi_calidad.json
{
  "name": "Campaign Tracker — Calidad de Oferta",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [160, 80],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "projectId": "meli-bi-data",
        "sqlQuery": "-- ============================================================\n-- CALIDAD DE OFERTA — DOUBLE DATES 5/5\n-- Fechas: 2026-04-20 → 2026-05-05\n-- Para nueva campaña: actualizar fechas y filtro CONTAINER_NAME\n-- ============================================================\n\nWITH\n\n-- Tipo de oferta y financiacion por item\nOPTINS AS (\n  SELECT\n    ITE_ITEM_ID,\n    CASE\n      WHEN meli_desc > 0                         THEN 'Cofinanciado ML'\n      WHEN seller_desc > 0                       THEN 'Solo Seller'\n      ELSE                                            'Sin Oferta'\n    END AS FINANCIACION,\n    CASE\n      WHEN CAMPAIGN_TYPE LIKE '%pre_negotiated%' THEN 'Pre-negociada'\n      WHEN CAMPAIGN_TYPE LIKE '%TIER_%'          THEN 'Tiers'\n      WHEN CAMPAIGN_TYPE LIKE '%smart%'          THEN 'Smart'\n      WHEN CAMPAIGN_TYPE LIKE '%dod%'\n        OR CAMPAIGN_TYPE LIKE '%lightning%'      THEN 'DOD + Lightning'\n      WHEN CAMPAIGN_TYPE LIKE '%custom%'         THEN 'Custom'\n      WHEN CAMPAIGN_TYPE IS NOT NULL             THEN 'Otros'\n      ELSE                                            'Sin Oferta'\n    END AS TIPO_OFERTA,\n    IFNULL(CAST(total_desc AS FLOAT64), 0.0)     AS total_desc,\n    CASE WHEN UPPER(RIU_GROUP) = 'HIGH' THEN 1 ELSE 0 END AS is_high\n  FROM `meli-sbox.PLANNINGMLA.BENEFIT_CO_OPTINS_DIA_ITEM`\n  WHERE day BETWEEN '2026-04-20' AND '2026-05-05'\n    AND row_num = 1\n  QUALIFY ROW_NUMBER() OVER (PARTITION BY ITE_ITEM_ID ORDER BY day DESC) = 1\n),\n\n-- ── OFERTA TAB: funnel global ─────────────────────────────\n\n-- Items exhibidos a nivel global\nEXHIBIDOS_G AS (\n  SELECT DISTINCT CAST(IE.ITEMS_EXHIBIDOS AS INT64) AS ITEM_ID\n  FROM `meli-bi-data.WHOWNER.DM_CONTAINERS_DEALS_ATTRIBUTION` C\n  INNER JOIN `meli-sbox.PLANNINGMLA.MKP_SM_CONTAINERS_ITEMS_EXHIBIDOS` IE\n    ON  IE.DATE = C.DATE\n    AND CONCAT('MLA', CAST(IE.CON_CONTAINER_ID AS STRING), '-1') = C.DEAL_CONTAINER_ID\n  WHERE C.CONTAINER_NAME LIKE 'MKP DEMAND 5 5 ABRIL 2026%'\n    AND C.DATE BETWEEN '2026-04-20' AND '2026-05-05'\n    AND C.SITE = 'MLA'\n    AND IE.ITEMS_EXHIBIDOS IS NOT NULL\n),\n\n-- Items visitados a nivel global\nVISITADOS_G AS (\n  SELECT CAST(VIEWED_ITEM_ID AS INT64) AS ITEM_ID, MAX(COALESCE(GMV_LC_24HS, 0.0)) AS MAX_GMV\n  FROM `meli-bi-data.WHOWNER.DM_ITEM_CONTAINER`\n  WHERE CONTAINER_NAME LIKE 'MKP DEMAND 5 5 ABRIL 2026%'\n    AND DATE_EVENT >= DATETIME('2026-04-20')\n    AND DATE_EVENT <  DATETIME('2026-05-05 23:59:59')\n    AND SITE = 'MLA'\n  GROUP BY VIEWED_ITEM_ID\n),\n\n-- Steps globales E/V/G con atributos de oferta\nSTEPS_G AS (\n  SELECT E.ITEM_ID,\n    IFNULL(O.FINANCIACION, 'Sin Oferta') AS FINANCIACION,\n    IFNULL(O.TIPO_OFERTA,  'Sin Oferta') AS TIPO_OFERTA,\n    IFNULL(O.total_desc,   0.0)          AS total_desc,\n    IFNULL(O.is_high,      0)            AS is_high,\n    'E' AS step\n  FROM EXHIBIDOS_G E LEFT JOIN OPTINS O ON E.ITEM_ID = O.ITE_ITEM_ID\n  UNION ALL\n  SELECT V.ITEM_ID,\n    IFNULL(O.FINANCIACION, 'Sin Oferta'),\n    IFNULL(O.TIPO_OFERTA,  'Sin Oferta'),\n    IFNULL(O.total_desc,   0.0),\n    IFNULL(O.is_high,      0),\n    'V'\n  FROM VISITADOS_G V LEFT JOIN OPTINS O ON V.ITEM_ID = O.ITE_ITEM_ID\n  UNION ALL\n  SELECT V.ITEM_ID,\n    IFNULL(O.FINANCIACION, 'Sin Oferta'),\n    IFNULL(O.TIPO_OFERTA,  'Sin Oferta'),\n    IFNULL(O.total_desc,   0.0),\n    IFNULL(O.is_high,      0),\n    'G'\n  FROM VISITADOS_G V LEFT JOIN OPTINS O ON V.ITEM_ID = O.ITE_ITEM_ID\n  WHERE V.MAX_GMV > 0\n),\n\n-- Metricas por etapa (E/V/G)\nSTEP_METRICS AS (\n  SELECT step,\n    COUNT(*)                                                                 AS total_items,\n    ROUND(AVG(total_desc), 1)                                                AS avg_disc,\n    ROUND(SAFE_DIVIDE(COUNTIF(is_high=1), COUNT(*)) * 100.0, 1)             AS riu_high_pct,\n    ROUND(SAFE_DIVIDE(COUNTIF(TIPO_OFERTA != 'Sin Oferta'), COUNT(*)) * 100.0, 1) AS con_oferta_pct\n  FROM STEPS_G GROUP BY step\n),\n\n-- Funnel por financiacion\nFUNNEL_FIN AS (\n  SELECT FINANCIACION AS categoria,\n    COUNTIF(step='E') AS exhibidos, COUNTIF(step='V') AS visitados, COUNTIF(step='G') AS gmv_items,\n    ROUND(SAFE_DIVIDE(CAST(COUNTIF(step='V') AS FLOAT64), CAST(COUNTIF(step='E') AS FLOAT64)) * 100.0, 2) AS pct_visita,\n    ROUND(SAFE_DIVIDE(CAST(COUNTIF(step='G') AS FLOAT64), CAST(COUNTIF(step='V') AS FLOAT64)) * 100.0, 2) AS pct_conv\n  FROM STEPS_G GROUP BY FINANCIACION\n),\n\n-- Funnel por tipo de oferta\nFUNNEL_TIPO AS (\n  SELECT TIPO_OFERTA AS categoria,\n    COUNTIF(step='E') AS exhibidos, COUNTIF(step='V') AS visitados, COUNTIF(step='G') AS gmv_items,\n    ROUND(SAFE_DIVIDE(CAST(COUNTIF(step='V') AS FLOAT64), CAST(COUNTIF(step='E') AS FLOAT64)) * 100.0, 2) AS pct_visita,\n    ROUND(SAFE_DIVIDE(CAST(COUNTIF(step='G') AS FLOAT64), CAST(COUNTIF(step='V') AS FLOAT64)) * 100.0, 2) AS pct_conv\n  FROM STEPS_G GROUP BY TIPO_OFERTA\n),\n\n-- Totales globales\nTOTALS AS (\n  SELECT\n    COUNTIF(step='E') AS tot_exhib,\n    COUNTIF(step='V') AS tot_visit,\n    COUNTIF(step='G') AS tot_gmv_i\n  FROM STEPS_G\n),\n\n-- ── CONTAINERS TAB: datos por container ──────────────────\n\n-- Items exhibidos por container\nEXHIBIDOS_C AS (\n  SELECT DISTINCT CAST(IE.ITEMS_EXHIBIDOS AS INT64) AS ITEM_ID, C.DEAL_CONTAINER_ID\n  FROM `meli-bi-data.WHOWNER.DM_CONTAINERS_DEALS_ATTRIBUTION` C\n  INNER JOIN `meli-sbox.PLANNINGMLA.MKP_SM_CONTAINERS_ITEMS_EXHIBIDOS` IE\n    ON  IE.DATE = C.DATE\n    AND CONCAT('MLA', CAST(IE.CON_CONTAINER_ID AS STRING), '-1') = C.DEAL_CONTAINER_ID\n  WHERE C.CONTAINER_NAME LIKE 'MKP DEMAND 5 5 ABRIL 2026%'\n    AND C.DATE BETWEEN '2026-04-20' AND '2026-05-05'\n    AND C.SITE = 'MLA'\n    AND IE.ITEMS_EXHIBIDOS IS NOT NULL\n),\n\n-- Items visitados por container\nVISITADOS_C AS (\n  SELECT CAST(VIEWED_ITEM_ID AS INT64) AS ITEM_ID, CONTAINER_DEAL_ID AS DEAL_CONTAINER_ID,\n    MAX(COALESCE(GMV_LC_24HS, 0.0)) AS MAX_GMV\n  FROM `meli-bi-data.WHOWNER.DM_ITEM_CONTAINER`\n  WHERE CONTAINER_NAME LIKE 'MKP DEMAND 5 5 ABRIL 2026%'\n    AND DATE_EVENT >= DATETIME('2026-04-20')\n    AND DATE_EVENT <  DATETIME('2026-05-05 23:59:59')\n    AND SITE = 'MLA'\n  GROUP BY VIEWED_ITEM_ID, CONTAINER_DEAL_ID\n),\n\n-- Performance de containers desde la tabla de atribucion\nCONT_PERF AS (\n  SELECT DEAL_CONTAINER_ID, CONTAINER_NAME,\n    SUM(C_UNIQUE_SESSION)  AS SESIONES,\n    SUM(TGMV_168HS)        AS NMV,\n    SUM(SI_168HS)          AS NSI,\n    SUM(BUYERS_168HS)      AS BUYERS,\n    SUM(TRANSACTION_168HS) AS TRANSACCIONES\n  FROM `meli-bi-data.WHOWNER.DM_CONTAINERS_DEALS_ATTRIBUTION`\n  WHERE CONTAINER_NAME LIKE 'MKP DEMAND 5 5 ABRIL 2026%'\n    AND DATE BETWEEN '2026-04-20' AND '2026-05-05'\n    AND SITE = 'MLA'\n  GROUP BY ALL\n),\n\n-- KPIs de calidad por container (join directo, sin UNION ALL ni LK)\nCONT_KPIS AS (\n  SELECT\n    E.DEAL_CONTAINER_ID,\n    COUNT(*)                                                                  AS EXHIBIDOS_ITEMS,\n    COUNTIF(V.ITEM_ID IS NOT NULL)                                            AS VISITADOS_ITEMS,\n    COUNTIF(V.MAX_GMV > 0)                                                    AS GMV_ITEMS_CNT,\n    ROUND(AVG(IFNULL(O.total_desc, 0.0)), 1)                                  AS DTO_POND,\n    ROUND(SAFE_DIVIDE(CAST(COUNTIF(O.is_high=1) AS FLOAT64),\n                      CAST(COUNT(*) AS FLOAT64)) * 100.0, 1)                  AS RIU_PCT\n  FROM EXHIBIDOS_C E\n  LEFT JOIN OPTINS O ON E.ITEM_ID = O.ITE_ITEM_ID\n  LEFT JOIN VISITADOS_C V\n    ON  E.ITEM_ID          = V.ITEM_ID\n    AND E.DEAL_CONTAINER_ID = V.DEAL_CONTAINER_ID\n  GROUP BY E.DEAL_CONTAINER_ID\n),\n\n-- Datos completos por container\nCONT_FULL AS (\n  SELECT\n    P.DEAL_CONTAINER_ID,\n    P.CONTAINER_NAME,\n    P.SESIONES,\n    P.NMV,\n    P.NSI,\n    P.BUYERS,\n    P.TRANSACCIONES,\n    ROUND(SAFE_DIVIDE(CAST(P.TRANSACCIONES AS FLOAT64), CAST(P.SESIONES AS FLOAT64)) * 100.0, 2) AS CVR,\n    IFNULL(K.EXHIBIDOS_ITEMS, 0)   AS EXHIBIDOS_ITEMS,\n    ROUND(SAFE_DIVIDE(CAST(IFNULL(K.VISITADOS_ITEMS, 0) AS FLOAT64),\n                      CAST(IFNULL(K.EXHIBIDOS_ITEMS, 1) AS FLOAT64)) * 100.0, 2) AS TASA_VISITA,\n    IFNULL(K.DTO_POND, 0.0)        AS DTO_POND,\n    IFNULL(K.RIU_PCT,  0.0)        AS RIU_PCT\n  FROM CONT_PERF P\n  LEFT JOIN CONT_KPIS K ON P.DEAL_CONTAINER_ID = K.DEAL_CONTAINER_ID\n),\n\n-- Drill por container x tipo de oferta (join directo, sin UNION ALL)\nCONT_DRILL AS (\n  SELECT\n    E.DEAL_CONTAINER_ID                     AS deal_container_id,\n    'TIPO_OFERTA'                            AS dimension,\n    IFNULL(O.TIPO_OFERTA, 'Sin Oferta')     AS categoria,\n    COUNT(*)                                 AS exhibidos,\n    COUNTIF(V.ITEM_ID IS NOT NULL)           AS visitados,\n    COUNTIF(V.MAX_GMV > 0)                  AS gmv_items\n  FROM EXHIBIDOS_C E\n  LEFT JOIN OPTINS O ON E.ITEM_ID = O.ITE_ITEM_ID\n  LEFT JOIN VISITADOS_C V\n    ON  E.ITEM_ID          = V.ITEM_ID\n    AND E.DEAL_CONTAINER_ID = V.DEAL_CONTAINER_ID\n  GROUP BY E.DEAL_CONTAINER_ID, O.TIPO_OFERTA\n)\n\nSELECT TO_BASE64(CAST(\n  CONCAT(\n    '{\"camp_tasa_visita\":',\n    (SELECT CAST(ROUND(SAFE_DIVIDE(CAST(tot_visit AS FLOAT64), CAST(tot_exhib AS FLOAT64)) * 100.0, 2) AS STRING) FROM TOTALS),\n    ',\"tot_exhib\":',   (SELECT CAST(tot_exhib  AS STRING) FROM TOTALS),\n    ',\"tot_visit\":',   (SELECT CAST(tot_visit  AS STRING) FROM TOTALS),\n    ',\"tot_gmv_i\":',   (SELECT CAST(tot_gmv_i  AS STRING) FROM TOTALS),\n    ',\"steps\":',\n    (SELECT TO_JSON_STRING(ARRAY_AGG(STRUCT(step, total_items, avg_disc, riu_high_pct, con_oferta_pct) ORDER BY step)) FROM STEP_METRICS),\n    ',\"financiacion\":',\n    (SELECT TO_JSON_STRING(ARRAY_AGG(STRUCT(categoria, exhibidos, visitados, gmv_items, pct_visita, pct_conv) ORDER BY exhibidos DESC)) FROM FUNNEL_FIN),\n    ',\"tipo_oferta\":',\n    (SELECT TO_JSON_STRING(ARRAY_AGG(STRUCT(categoria, exhibidos, visitados, gmv_items, pct_visita, pct_conv) ORDER BY exhibidos DESC)) FROM FUNNEL_TIPO),\n    ',\"bench\":{}',\n    ',\"containers\":',\n    (SELECT TO_JSON_STRING(ARRAY_AGG(STRUCT(DEAL_CONTAINER_ID, CONTAINER_NAME, SESIONES, NMV, NSI, BUYERS, TRANSACCIONES, CVR, EXHIBIDOS_ITEMS, TASA_VISITA, DTO_POND, RIU_PCT) ORDER BY NMV DESC)) FROM CONT_FULL),\n    ',\"drill\":',\n    (SELECT TO_JSON_STRING(ARRAY_AGG(STRUCT(deal_container_id, dimension, categoria, exhibidos, visitados, gmv_items))) FROM CONT_DRILL),\n    ',\"container_groups\":{\"MLA1587833-1\":\"FOCO\",\"MLA1593960-1\":\"FOCO\",\"MLA1587835-1\":\"FOCO\",\"MLA1587824-1\":\"FOCO\",\"MLA1587826-1\":\"FOCO\",\"MLA1587827-1\":\"FOCO\",\"MLA1587829-1\":\"FOCO\",\"MLA1587820-1\":\"FOCO\",\"MLA1593102-1\":\"FOCO\",\"MLA1597617-1\":\"FOCO\",\"MLA1597616-1\":\"FOCO\",\"MLA1585322-1\":\"FOCO\",\"MLA1587823-1\":\"FOCO\",\"MLA1587821-1\":\"FOCO\",\"MLA1593114-1\":\"NO FOCO\",\"MLA1587855-1\":\"NO FOCO\",\"MLA1587853-1\":\"NO FOCO\",\"MLA1587847-1\":\"NO FOCO\",\"MLA1587861-1\":\"NO FOCO\",\"MLA1587846-1\":\"NO FOCO\",\"MLA1587850-1\":\"NO FOCO\",\"MLA1587836-1\":\"NO FOCO\",\"MLA1587845-1\":\"NO FOCO\",\"MLA1587843-1\":\"NO FOCO\",\"MLA1587852-1\":\"NO FOCO\",\"MLA1587839-1\":\"NO FOCO\",\"MLA1593998-1\":\"NO FOCO\",\"MLA1594868-1\":\"TACTICO\",\"MLA1587867-1\":\"TACTICO\",\"MLA1594869-1\":\"TACTICO\",\"MLA1587863-1\":\"TACTICO\",\"MLA1587857-1\":\"TACTICO\"}',\n    ',\"refreshed_at\":\"',\n    FORMAT_TIMESTAMP('%Y-%m-%dT%H:%M:%S', CURRENT_TIMESTAMP(), 'America/Argentina/Buenos_Aires'),\n    '\"}'\n  )\nAS BYTES)) AS data_b64",
        "options": {
          "location": "US"
        }
      },
      "id": "bq-calidad",
      "name": "BQ Calidad de Oferta",
      "type": "n8n-nodes-base.googleBigQuery",
      "maxTries": 5,
      "position": [336, 80],
      "retryOnFail": true,
      "typeVersion": 2.1,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/josefinaquirno/campaign_tracker/contents/docs/calidad.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer TU_GITHUB_TOKEN_ACA"
            },
            {
              "name": "User-Agent",
              "value": "verdi-flow"
            }
          ]
        },
        "options": {}
      },
      "id": "get-sha-calidad",
      "name": "Get File SHA Calidad",
      "type": "n8n-nodes-base.httpRequest",
      "position": [496, 80],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/josefinaquirno/campaign_tracker/contents/docs/calidad.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer TU_GITHUB_TOKEN_ACA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "verdi-flow"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "chore: refresh calidad.json [skip ci]"
            },
            {
              "name": "content",
              "value": "={{ $('BQ Calidad de Oferta').first().json.data_b64.replace(/\\n/g, '').replace(/\\r/g, '') }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.sha }}"
            }
          ]
        },
        "options": {}
      },
      "id": "push-github-calidad",
      "name": "Push Calidad to GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "position": [656, 80],
      "typeVersion": 4.2
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "BQ Calidad de Oferta", "type": "main", "index": 0 }]]
    },
    "BQ Calidad de Oferta": {
      "main": [[{ "node": "Get File SHA Calidad", "type": "main", "index": 0 }]]
    },
    "Get File SHA Calidad": {
      "main": [[{ "node": "Push Calidad to GitHub", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
