verdi_opt_landing.json
{
  "name": "Campaign Tracker — Optimización de Landing — Liquidacion Final",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger-opt",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        160,
        80
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "projectId": "meli-bi-data",
        "sqlQuery": "-- ============================================================\n-- OPTIMIZACIÓN DE LANDING — Splinter + Eshop CPG\n-- Fechas: 2026-05-19 → 2026-05-24\n-- Landings: liquidacion-final\n-- CPG (Carrefour, Full Súper): merge desde DM_ESHOP_LANDING_ATTRIBUTION\n-- ============================================================\n\nWITH splinter AS (\n  SELECT\n    DATE_EVENT                            AS date,\n    LANDING_NAME                          AS landing_name,\n    CAMPAIGN_NAME                         AS button_name,\n    SUM(TOTAL_PRINTS)                     AS prints,\n    SUM(TOTAL_CLICKS)                     AS clicks,\n    SUM(TOTAL_TRANSACTION_24HS)           AS transactions,\n    SUM(TOTAL_SI_24HS)                    AS si,\n    SUM(TOTAL_TGMV_24HS)                  AS tgmv,\n    SUM(TOTAL_SESSIONS_PRINT)             AS sessions\n  FROM `meli-bi-data.WHOWNER.DM_SPLINTER_COMPONENT`\n  WHERE site_id = 'MLA'\n    AND LANDING_NAME IN ('liquidacion-final')\n    AND DATE_EVENT BETWEEN '2026-05-19' AND '2026-05-24'\n  GROUP BY 1, 2, 3\n),\neshop_cpg AS (\n  SELECT\n    TRACK_DATE                            AS date,\n    SUM(TRANSACTIONS_24HS)                AS transactions,\n    SUM(SI_24HS)                          AS si,\n    SUM(TGMV_24HS)                        AS tgmv\n  FROM `meli-bi-data.WHOWNER.DM_ESHOP_LANDING_ATTRIBUTION`\n  WHERE SIT_SITE_ID = 'MLA'\n    AND TRACK_DATE BETWEEN '2026-05-19' AND '2026-05-24'\n    AND SHOP_NAME IN ('Carrefour', 'Full Súper')\n  GROUP BY 1\n),\ncombined AS (\n  SELECT\n    s.date,\n    s.landing_name AS landing_name,\n    s.button_name,\n    COALESCE(s.prints, 0)                                        AS prints,\n    COALESCE(s.clicks, 0)                                        AS clicks,\n    CAST(COALESCE(s.transactions, e.transactions, 0) AS INT64)   AS transactions,\n    CAST(COALESCE(s.si, e.si, 0) AS INT64)                       AS si,\n    CAST(COALESCE(s.tgmv, e.tgmv, 0) AS INT64)                  AS tgmv,\n    COALESCE(s.sessions, 0)                                      AS sessions\n  FROM splinter s\n  LEFT JOIN eshop_cpg e\n    ON LOWER(s.button_name) LIKE '%cpg%'\n    AND s.date = e.date\n)\nSELECT TO_BASE64(CAST(\n  CONCAT(\n    '{\"opt_landing\":',\n    (SELECT TO_JSON_STRING(ARRAY_AGG(STRUCT(\n      date, landing_name, button_name, prints, clicks, transactions, si, tgmv, sessions\n    ) ORDER BY date, landing_name, button_name)) FROM combined),\n    ',\"refreshed_at\":\"',\n    FORMAT_TIMESTAMP('%Y-%m-%dT%H:%M:%S', CURRENT_TIMESTAMP(), 'America/Argentina/Buenos_Aires'),\n    '\"}'\n  )\nAS BYTES)) AS data_b64",
        "options": {
          "location": "US"
        }
      },
      "id": "bq-opt-landing",
      "name": "BQ Opt Landing",
      "type": "n8n-nodes-base.googleBigQuery",
      "position": [
        340,
        80
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/josefinaquirno/campaign_tracker/contents/docs/opt_landing.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer TU_GITHUB_TOKEN_ACA"
            },
            {
              "name": "User-Agent",
              "value": "verdi-flow"
            }
          ]
        },
        "options": {}
      },
      "id": "get-sha-opt",
      "name": "Get SHA Opt Landing",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        520,
        80
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/josefinaquirno/campaign_tracker/contents/docs/opt_landing.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer TU_GITHUB_TOKEN_ACA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "verdi-flow"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "chore: refresh opt_landing.json [skip ci]"
            },
            {
              "name": "content",
              "value": "={{ $('BQ Opt Landing').first().json.data_b64.replace(/\\n/g, '').replace(/\\r/g, '') }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.sha }}"
            }
          ]
        },
        "options": {}
      },
      "id": "push-opt-landing",
      "name": "Push Opt Landing to GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        700,
        80
      ],
      "typeVersion": 4.2
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "BQ Opt Landing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BQ Opt Landing": {
      "main": [
        [
          {
            "node": "Get SHA Opt Landing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SHA Opt Landing": {
      "main": [
        [
          {
            "node": "Push Opt Landing to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "versionId": "opt-landing-v1",
  "active": false
}