verdi_flow.json
{
  "name": "Campaign Tracker — Daily Refresh",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [160, 80],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "projectId": "meli-bi-data",
        "sqlQuery": "-- ============================================================\n-- CAMPAIGN TRACKER — DOUBLE DATES\n-- Fechas: 2026-04-20 → 2026-05-05\n-- Para nueva campaña: actualizar START_DATE, END_DATE,\n-- ms_campaign_filter, landing_names, container_filter\n-- ============================================================\n\nWITH\n\nMS_DATA AS (\n  SELECT\n    m.EVENT_LOCAL_DT   AS fecha,\n    m.CAMPAIGN_NAME    AS campaign_name,\n    M.LINE_ITEM_NAME   AS line_item,\n    CASE\n      WHEN (LI.LINE_ITEM_AUDIENCE_DMP IS NOT NULL) OR (JSON_VALUE(LI.LINE_ITEM_SITES_DISPLAYED) IS NOT NULL)\n      THEN 'SEGMENTADO' ELSE 'NO SEGMENTADO'\n    END AS segmentation,\n    SUM(m.CLICKS_QTY)              AS clicks,\n    SUM(m.IMPRESSION_VIEWS_QTY)    AS prints\n  FROM `meli-bi-data.WHOWNER.BT_ADS_DISP_METRICS_DAILY` m\n  INNER JOIN `meli-bi-data.WHOWNER.LK_ADS_LINE_ITEMS` LI ON LI.LINE_ITEM_ID = M.LINE_ITEM_ID\n  INNER JOIN `meli-bi-data.WHOWNER.LK_ADS_ACCOUNTS`   a  ON a.account_id   = m.ACCOUNT_ID\n  INNER JOIN `meli-bi-data.WHOWNER.LK_ADS_CAMPAIGNS`  C  ON C.CAMPAIGN_ID  = M.CAMPAIGN_ID\n  WHERE m.EVENT_LOCAL_DT BETWEEN '2026-04-20' AND '2026-05-05'\n    AND M.SIT_SITE_ID       IN ('MLA')\n    AND PLACEMENT            LIKE '%MAIN-SLIDER%'\n    AND ACCOUNT_TYPE         LIKE '%MARKETING%'\n    AND M.CAMPAIGN_NAME      LIKE '%DOUBLEDATES%'\n    AND M.LINE_ITEM_NAME NOT LIKE '%SPLINTER%'\n    AND M.CAMPAIGN_NAME  NOT LIKE '%FD%'\n  GROUP BY ALL\n  HAVING SUM(m.PRINTS_QTY) > 0\n),\n\nLANDING_DATA AS (\n  SELECT\n    DATE,\n    LANDING_NAME,\n    SESSIONS,\n    TGMV_168HS          AS nmv,\n    ORDERS_168HS        AS orders,\n    TRANSACTIONS_168HS  AS transactions,\n    SI_168HS            AS nsi,\n    NOT_LOG_USERS       AS users_landing,\n    LISTADO_TOTAL_USERS AS users_container,\n    VPP_TOTAL_USERS     AS users_vip,\n    BUYERS_168HS        AS buyers\n  FROM `meli-bi-data.WHOWNER.DM_LANDING_ATTRIBUTION_CONTAINER_DEAL`\n  WHERE DATE BETWEEN '2026-04-20' AND '2026-05-05'\n    AND SITE = 'MLA'\n    AND landing_name IN ('ofertas futboleras', '5-5-descuentos-parcial')\n),\n\nCONTAINER_DATA AS (\n  SELECT\n    DATE,\n    CONTAINER_NAME,\n    C_UNIQUE_SESSION   AS sessions,\n    TGMV_168HS         AS nmv,\n    SI_168HS           AS nsi,\n    ORDERS_168HS       AS orders,\n    TRANSACTION_168HS  AS transactions,\n    C_UNIQUE_USERS     AS users_container,\n    V_UNIQUE_USERS     AS users_vip,\n    BUYERS_168HS       AS buyers,\n    CASE\n      WHEN CONTAINER_NAME LIKE ('%ACC%')                                           THEN 'ACC'\n      WHEN CONTAINER_NAME LIKE ('%FASHION%')                                       THEN 'FASHION'\n      WHEN (CONTAINER_NAME LIKE ('%BEAUTY%') OR CONTAINER_NAME LIKE ('%BELLEZA%')) THEN 'BEAUTY'\n      WHEN (CONTAINER_NAME LIKE ('%SALUD%')  OR CONTAINER_NAME LIKE ('%HEALTH%'))  THEN 'HEALTH'\n      WHEN CONTAINER_NAME LIKE ('%HE%')                                            THEN 'HE'\n      WHEN CONTAINER_NAME LIKE ('%TEC%')                                           THEN 'TEC'\n      WHEN CONTAINER_NAME LIKE ('%CPG%')                                           THEN 'CPG'\n      WHEN CONTAINER_NAME LIKE ('%ENT%')                                           THEN 'ENT'\n      WHEN CONTAINER_NAME LIKE ('%CI%')                                            THEN 'CI'\n      WHEN CONTAINER_NAME LIKE ('%FH%')                                            THEN 'FH'\n      WHEN CONTAINER_NAME LIKE ('%SPORTS%')                                        THEN 'SPORTS'\n      WHEN (CONTAINER_NAME LIKE ('%TB BABY%') OR CONTAINER_NAME LIKE ('%TB%'))     THEN 'TB'\n      WHEN CONTAINER_NAME LIKE ('%FOOD_DELIVERY%')                                 THEN 'FOOD_DELIVERY'\n      WHEN CONTAINER_NAME LIKE ('%CROSS%')                                         THEN 'CROSS'\n      WHEN CONTAINER_NAME LIKE ('%CBT%')                                           THEN 'CBT'\n      ELSE 'OTHER'\n    END AS vertical\n  FROM `meli-bi-data.WHOWNER.DM_CONTAINERS_DEALS_ATTRIBUTION`\n  WHERE DATE BETWEEN '2026-04-20' AND '2026-05-05'\n    AND SITE = 'MLA'\n    AND CONTAINER_NAME LIKE 'MKP DEMAND 5 5 ABRIL 2026%'\n),\n\nTOTAL_CONTAINERS_DATA AS (\n  SELECT\n    DATE,\n    SUM(C_UNIQUE_SESSION) AS total_sessions,\n    SUM(TGMV_168HS)       AS total_nmv,\n    SUM(ORDERS_168HS)     AS total_orders,\n    SUM(BUYERS_168HS)     AS total_buyers\n  FROM `meli-bi-data.WHOWNER.DM_CONTAINERS_DEALS_ATTRIBUTION`\n  WHERE DATE BETWEEN '2026-04-20' AND '2026-05-05'\n    AND SITE = 'MLA'\n    AND DEAL_CONTAINER = 'container'\n    AND path IN ('/promotions', '/search')\n  GROUP BY 1\n),\n\nORDERS_SITE AS (\n  SELECT DISTINCT\n    ORD_CREATED_DT                                            AS date,\n    SUM(ORD_ITEM.BASE_CURRENT_PRICE * ORD_ITEM.QTY)          AS tgmv_usd,\n    COUNT(DISTINCT COALESCE(CRT_PURCHASE_ID, ORD_ORDER_ID))   AS transactions,\n    COUNT(DISTINCT ORD_BUYER.ID)                              AS buyers,\n    SUM(ORD_ITEM.QTY)                                         AS si,\n    COUNT(DISTINCT ORD_ORDER_ID)                              AS orders\n  FROM `meli-bi-data.WHOWNER.BT_ORD_ORDERS`\n  WHERE ORD_CREATED_DT BETWEEN '2026-04-20' AND '2026-05-05'\n    AND SIT_SITE_ID             IN ('MLA')\n    AND ORD_GMV_FLG             = TRUE\n    AND ORD_TGMV_FLG            = TRUE\n    AND ORD_ORDER_MSHOPS_FLG    = FALSE\n    AND ORD_ORDER_PROXIMITY_FLG = FALSE\n    AND ORD_STATUS              = 'paid'\n    AND ORD_CATEGORY.MARKETPLACE_ID = 'TM'\n  GROUP BY 1\n),\n\nSESSIONS_SITE AS (\n  SELECT\n    TRACK_DATE                                              AS date,\n    CAST(COUNT(DISTINCT CONCAT(UID, SESSION_ID)) AS INT64)  AS ts_sessions\n  FROM `meli-bi-data.WHOWNER.BT_MKP_SESSIONS`\n  WHERE TRACK_DATE BETWEEN '2026-04-20' AND '2026-05-05'\n    AND BU          = 'mercadolibre'\n    AND SIT_SITE_ID = 'MLA'\n    AND IS_BOUNCE   = FALSE\n    AND IS_CORE\n  GROUP BY 1\n),\n\nTOTAL_SITE_DATA AS (\n  SELECT\n    o.date,\n    o.tgmv_usd,\n    s.ts_sessions,\n    o.transactions,\n    o.buyers,\n    o.si,\n    o.orders\n  FROM ORDERS_SITE o\n  LEFT JOIN SESSIONS_SITE s ON o.date = s.date\n)\n\nSELECT TO_BASE64(CAST(\n  CONCAT(\n    '{\"campaign\":{\"name\":\"DOUBLE DATES\",\"start\":\"2026-04-20\",\"end\":\"2026-05-05\"},',\n    '\"ms\":',\n    (SELECT TO_JSON_STRING(ARRAY_AGG(STRUCT(\n      fecha, campaign_name, line_item, clicks, prints, segmentation\n    ))) FROM MS_DATA),\n    ',\"landing\":',\n    (SELECT TO_JSON_STRING(ARRAY_AGG(STRUCT(\n      DATE AS date, LANDING_NAME AS landing_name,\n      SESSIONS AS sessions, nmv, orders, transactions,\n      nsi, users_landing, users_container, users_vip, buyers\n    ))) FROM LANDING_DATA),\n    ',\"container\":',\n    (SELECT TO_JSON_STRING(ARRAY_AGG(STRUCT(\n      DATE AS date, CONTAINER_NAME AS container_name, vertical,\n      sessions, nmv, nsi, orders, transactions,\n      users_container, users_vip, buyers\n    ))) FROM CONTAINER_DATA),\n    ',\"total_containers\":',\n    (SELECT TO_JSON_STRING(ARRAY_AGG(STRUCT(\n      DATE AS date, total_sessions, total_nmv, total_orders, total_buyers\n    ))) FROM TOTAL_CONTAINERS_DATA),\n    ',\"total_site\":',\n    (SELECT TO_JSON_STRING(ARRAY_AGG(STRUCT(\n      date, tgmv_usd, ts_sessions, transactions, buyers, si, orders\n    ))) FROM TOTAL_SITE_DATA),\n    ',\"targets\":{\"dates\":[\"2026-04-20\",\"2026-04-21\",\"2026-04-22\",\"2026-04-23\",\"2026-04-24\",\"2026-04-25\",\"2026-04-26\",\"2026-04-27\",\"2026-04-28\",\"2026-04-29\",\"2026-04-30\",\"2026-05-01\",\"2026-05-02\",\"2026-05-03\",\"2026-05-04\",\"2026-05-05\"],\"ms\":{\"ctr\":null},\"total_site\":{\"sessions\":[15876390,15815580,15604512,14801057,13923104,11950701,11386782,15958342,14499880,13673477,11864138,12694445,11156734,11160342,14920281,14654344],\"nmv\":[35170526,35232764,34242182,32111783,29281180,21298557,22943213,36245871,35335427,34544589,27473804,24490016,22253837,24735375,38690669,40977128]},\"landing\":{\"sessions\":[125878,111294,102690,175316,73156,55782,65886,126528,102035,89982,140528,66700,52076,64576,118298,103122],\"share_sessions\":[0.0079,0.007,0.0066,0.0118,0.0053,0.0047,0.0058,0.0079,0.007,0.0066,0.0118,0.0053,0.0047,0.0058,0.0079,0.007],\"ctr\":[0.2584,0.2422,0.2237,0.2274,0.2056,0.2131,0.2489,0.2584,0.2422,0.2237,0.2274,0.2056,0.2131,0.2489,0.2584,0.2422],\"users_landing\":[91725,80120,73260,135985,52970,42119,52483,92198,73454,64194,109002,48296,39321,51439,86201,74237],\"users_container\":[23700,19405,16386,30921,10888,8978,13062,23822,17791,14358,24785,9927,8381,12802,22272,17980]},\"container\":{\"sessions\":[208649,201016,134041,134227,104537,76934,92548,208649,201016,134041,134227,104537,76934,92548,208649,201016],\"share_sessions\":[0.0131,0.0127,0.0086,0.0091,0.0075,0.0064,0.0081,0.0131,0.0139,0.0098,0.0113,0.0082,0.0069,0.0083,0.014,0.0137],\"nmv\":[34884,29908,20927,18925,17067,11265,14093,34884,29908,20927,18925,17067,11265,14093,34884,29908],\"share_nmv\":[0.001,0.0008,0.0006,0.0006,0.0006,0.0005,0.0006,0.001,0.0008,0.0006,0.0007,0.0007,0.0005,0.0006,0.0009,0.0007],\"nsi\":[727,623,436,394,356,235,294,727,623,436,394,356,235,294,727,623],\"nasp\":[48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48],\"cvr\":[0.0067,0.0069,0.0072,0.0067,0.0075,0.007,0.0065,0.0067,0.0069,0.0072,0.0067,0.0075,0.007,0.0065,0.0067,0.0069],\"users_vip\":[66920,61974,44279,41960,34463,27048,32005,66920,61974,44279,41960,34463,27048,32005,66920,61974],\"transactions\":[1403,1380,971,893,779,537,606,1403,1380,971,893,779,537,606,1403,1380]}},',\n    '\"refreshed_at\":\"',\n    FORMAT_TIMESTAMP('%Y-%m-%dT%H:%M:%S', CURRENT_TIMESTAMP(), 'America/Argentina/Buenos_Aires'),\n    '\"}'\n  )\nAS BYTES)) AS data_b64",
        "options": {
          "location": "US"
        }
      },
      "id": "bq-node",
      "name": "BQ Campaign Tracker",
      "type": "n8n-nodes-base.googleBigQuery",
      "maxTries": 5,
      "position": [336, 80],
      "retryOnFail": true,
      "typeVersion": 2.1,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/josefinaquirno/campaign_tracker/contents/docs/data.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer TU_GITHUB_TOKEN_ACA"
            },
            {
              "name": "User-Agent",
              "value": "verdi-flow"
            }
          ]
        },
        "options": {}
      },
      "id": "get-sha",
      "name": "Get File SHA",
      "type": "n8n-nodes-base.httpRequest",
      "position": [496, 80],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/josefinaquirno/campaign_tracker/contents/docs/data.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer TU_GITHUB_TOKEN_ACA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "verdi-flow"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "chore: refresh data.json [skip ci]"
            },
            {
              "name": "content",
              "value": "={{ $('BQ Campaign Tracker').first().json.data_b64.replace(/\\n/g, '').replace(/\\r/g, '') }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.sha }}"
            }
          ]
        },
        "options": {}
      },
      "id": "push-github",
      "name": "Push to GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "position": [656, 80],
      "typeVersion": 4.2
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "BQ Campaign Tracker", "type": "main", "index": 0 }]]
    },
    "BQ Campaign Tracker": {
      "main": [[{ "node": "Get File SHA", "type": "main", "index": 0 }]]
    },
    "Get File SHA": {
      "main": [[{ "node": "Push to GitHub", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
