verdi_targets.json
{
    "name":  "Campaign Tracker — Targets T2/DEMAND",
    "nodes":  [
                  {
                      "parameters":  {
                                         "rule":  {
                                                      "interval":  [
                                                                       {
                                                                           "field":  "cronExpression",
                                                                           "expression":  "0 8 * * *"
                                                                       }
                                                                   ]
                                                  }
                                     },
                      "id":  "schedule-trigger-tgt",
                      "name":  "Schedule Trigger",
                      "type":  "n8n-nodes-base.scheduleTrigger",
                      "position":  [160, 80],
                      "typeVersion":  1.2
                  },
                  {
                      "parameters":  {
                                         "projectId":  "meli-bi-data",
                                         "sqlQuery":  "-- ============================================================\n-- CAMPAIGN TRACKER — Targets T2/DEMAND\n-- Campaña: DOUBLE DATES (2026-04-20 → 2026-05-05)\n-- TO dates: 2026-04-27, 2026-05-05\n-- Para nueva campaña: actualizar fechas, TO_DATES, filtros\n-- ============================================================\n\nWITH\n\nCAMPAIGN_DATES AS (\n  SELECT\n    date,\n    FORMAT_DATE('%w', date) AS dow,\n    date IN ('2026-04-27', '2026-05-05') AS is_to\n  FROM UNNEST(GENERATE_DATE_ARRAY(\n    DATE '2026-04-20', DATE '2026-05-05', INTERVAL 1 DAY\n  )) AS date\n),\n\nTS_SESSIONS AS (\n  SELECT CAST(fecha AS DATE) AS date, SUM(sesiones_plan) AS sessions\n  FROM `meli-sbox.PLANNINGMLA.KPIS_MLA_MKT`\n  WHERE fecha IS NOT NULL AND sesiones_plan IS NOT NULL\n    AND CAST(fecha AS DATE) BETWEEN DATE '2026-04-20' AND DATE '2026-05-05'\n  GROUP BY 1\n),\n\nTS_NMV AS (\n  SELECT CAST(fecha AS DATE) AS date, SUM(PLAN.TGMV_USD) AS nmv\n  FROM `meli-sbox.PLANNINGMLA.DM_TARGETS_MLA`\n  WHERE fecha IS NOT NULL AND PLAN.TGMV_USD IS NOT NULL\n    AND CAST(fecha AS DATE) BETWEEN DATE '2026-04-20' AND DATE '2026-05-05'\n  GROUP BY 1\n),\n\nLANDING_NO_TO AS (\n  SELECT\n    FORMAT_DATE('%w', t.DATE) AS dow,\n    AVG(t.NOT_LOG_USERS)       AS usuarios_landing,\n    AVG(t.SESSIONS)            AS sessions,\n    AVG(t.LISTADO_TOTAL_USERS) AS ses_contenedor,\n    AVG(t.VPP_TOTAL_USERS)     AS ses_vip,\n    AVG(t.SI_168HS)            AS nsi,\n    AVG(t.TRANSACTIONS_168HS)  AS transacciones,\n    AVG(t.NMV_168HS)           AS nmv\n  FROM (\n    SELECT\n      t.DATE,\n      SUM(t.NOT_LOG_USERS)        AS NOT_LOG_USERS,\n      SUM(t.SESSIONS)             AS SESSIONS,\n      SUM(t.LISTADO_TOTAL_USERS)  AS LISTADO_TOTAL_USERS,\n      SUM(t.VPP_TOTAL_USERS)      AS VPP_TOTAL_USERS,\n      SUM(t.SI_168HS)             AS SI_168HS,\n      SUM(t.TRANSACTIONS_168HS)   AS TRANSACTIONS_168HS,\n      SUM(t.NMV_168HS)            AS NMV_168HS\n    FROM `meli-bi-data.WHOWNER.DM_LANDING_ATTRIBUTION_CONTAINER_DEAL` t\n    WHERE t.SITE = 'MLA'\n      AND t.LANDING_NAME IN (\n        '2-2 descuentos', '3 3 descuentos', 'MLA1246', 'MLA1430',\n        'descuentazos', 'dia de la madre', 'dia del nino',\n        'dia-del-padre', 'gangas', 'ofertas de verano',\n        'ofertas futboleras', 'rebajas-de-invierno',\n        'supermercado', 'verano de descuentos', 'vuelta-a-clases', 'liquidacion total'\n      )\n      AND t.DATE NOT IN (\n        '2026-03-09', '2026-03-10', '2026-03-11',\n        '2026-03-12', '2026-03-13', '2026-03-14', '2026-03-15',\n        '2025-12-10', '2025-12-11', '2025-12-12',\n        '2026-02-02', '2026-02-12',\n        '2026-02-24', '2026-03-03',\n        '2026-03-30', '2026-04-04',\n        '2026-04-27', '2026-05-05'\n      )\n    GROUP BY t.DATE\n  ) t\n  GROUP BY 1\n),\n\nLANDING_TO AS (\n  SELECT\n    FORMAT_DATE('%w', t.DATE) AS dow,\n    AVG(t.NOT_LOG_USERS)       AS usuarios_landing,\n    AVG(t.SESSIONS)            AS sessions,\n    AVG(t.LISTADO_TOTAL_USERS) AS ses_contenedor,\n    AVG(t.VPP_TOTAL_USERS)     AS ses_vip,\n    AVG(t.SI_168HS)            AS nsi,\n    AVG(t.TRANSACTIONS_168HS)  AS transacciones,\n    AVG(t.NMV_168HS)           AS nmv\n  FROM (\n    SELECT\n      t.DATE,\n      SUM(t.NOT_LOG_USERS)        AS NOT_LOG_USERS,\n      SUM(t.SESSIONS)             AS SESSIONS,\n      SUM(t.LISTADO_TOTAL_USERS)  AS LISTADO_TOTAL_USERS,\n      SUM(t.VPP_TOTAL_USERS)      AS VPP_TOTAL_USERS,\n      SUM(t.SI_168HS)             AS SI_168HS,\n      SUM(t.TRANSACTIONS_168HS)   AS TRANSACTIONS_168HS,\n      SUM(t.NMV_168HS)            AS NMV_168HS\n    FROM `meli-bi-data.WHOWNER.DM_LANDING_ATTRIBUTION_CONTAINER_DEAL` t\n    WHERE t.SITE = 'MLA'\n      AND t.LANDING_NAME IN (\n        '2 2 descuentos parcial', '3 3 descuentos parcial',\n        '4-4-descuentos-parcial',\n        '5-5-descuentos-parcial', '5 5 descuentos parcial'\n      )\n      AND t.DATE IN (\n        '2026-03-09', '2026-03-10', '2026-03-11',\n        '2026-03-12', '2026-03-13', '2026-03-14', '2026-03-15',\n        '2025-12-10', '2025-12-11', '2025-12-12',\n        '2026-02-02', '2026-02-12',\n        '2026-02-24', '2026-03-03',\n        '2026-03-30', '2026-04-04',\n        '2026-04-27', '2026-05-05'\n      )\n    GROUP BY t.DATE\n  ) t\n  GROUP BY 1\n),\n\nCONTAINER_NO_TO AS (\n  SELECT\n    FORMAT_DATE('%w', DATE) AS dow,\n    AVG(SUM_C)  AS sessions,\n    AVG(SUM_V)  AS ses_vip,\n    AVG(SUM_NSI) AS nsi,\n    AVG(SUM_TRX) AS transacciones\n  FROM (\n    SELECT DATE,\n      SUM(C_UNIQUE_SESSION)  AS SUM_C,\n      SUM(V_UNIQUE_SESSION)  AS SUM_V,\n      SUM(SI_168HS)          AS SUM_NSI,\n      SUM(TRANSACTION_168HS) AS SUM_TRX\n    FROM `meli-bi-data.WHOWNER.DM_CONTAINERS_DEALS_ATTRIBUTION`\n    WHERE SITE = 'MLA'\n      AND (\n        UPPER(CONTAINER_NAME) LIKE 'MK T2%'\n        OR UPPER(CONTAINER_NAME) LIKE 'MKP T2%'\n        OR UPPER(CONTAINER_NAME) LIKE 'MKP DEMAND%'\n      )\n      AND DATE NOT IN (\n        '2026-03-09', '2026-03-10', '2026-03-11',\n        '2026-03-12', '2026-03-13', '2026-03-14', '2026-03-15',\n        '2025-12-10', '2025-12-11', '2025-12-12',\n        '2026-02-02', '2026-02-12',\n        '2026-02-24', '2026-03-03',\n        '2026-03-30', '2026-04-04',\n        '2026-04-27', '2026-05-05'\n      )\n    GROUP BY DATE\n  )\n  GROUP BY 1\n),\n\nCONTAINER_TO AS (\n  SELECT\n    FORMAT_DATE('%w', DATE) AS dow,\n    AVG(SUM_C)  AS sessions,\n    AVG(SUM_V)  AS ses_vip,\n    AVG(SUM_NSI) AS nsi,\n    AVG(SUM_TRX) AS transacciones\n  FROM (\n    SELECT DATE,\n      SUM(C_UNIQUE_SESSION)  AS SUM_C,\n      SUM(V_UNIQUE_SESSION)  AS SUM_V,\n      SUM(SI_168HS)          AS SUM_NSI,\n      SUM(TRANSACTION_168HS) AS SUM_TRX\n    FROM `meli-bi-data.WHOWNER.DM_CONTAINERS_DEALS_ATTRIBUTION`\n    WHERE SITE = 'MLA'\n      AND (\n        UPPER(CONTAINER_NAME) LIKE 'MK T2%'\n        OR UPPER(CONTAINER_NAME) LIKE 'MKP T2%'\n        OR UPPER(CONTAINER_NAME) LIKE 'MKP DEMAND%'\n      )\n      AND DATE IN (\n        '2026-03-09', '2026-03-10', '2026-03-11',\n        '2026-03-12', '2026-03-13', '2026-03-14', '2026-03-15',\n        '2025-12-10', '2025-12-11', '2025-12-12',\n        '2026-02-02', '2026-02-12',\n        '2026-02-24', '2026-03-03',\n        '2026-03-30', '2026-04-04',\n        '2026-04-27', '2026-05-05'\n      )\n    GROUP BY DATE\n  )\n  GROUP BY 1\n),\n\nNASP AS (\n  SELECT ROUND(SAFE_DIVIDE(SUM(NMV_LAST_30DAYS), SUM(NSI_LAST_30DAYS)), 2) AS nasp\n  FROM `meli-bi-data.WHOWNER.LK_MKP_CONTAINER_BY_QUERY`\n  WHERE SIT_SITE_ID = 'MLA'\n    AND DOM_DOMAIN_AGG1 IS NOT NULL\n    AND DOM_DOMAIN_AGG1 IN (\n      'TELEVISIONS & STREAMING DEVICES', 'AUDIO & GENERAL ELECTRONICS',\n      'CONSOLE GAMING HARDWARE', 'FOOTBALL', 'FURNITURE',\n      'FOODS', 'DRINKS', 'APPAREL', 'FOOTWEAR'\n    )\n  HAVING SUM(NSI_LAST_30DAYS) > 0\n),\n\nMS_CTR AS (\n  SELECT\n    CASE\n      WHEN LOWER(LINE_ITEM_NAME) LIKE '%tachado%' OR LOWER(LINE_ITEM_NAME) LIKE '%celebrity%' THEN 'PRINCIPAL'\n      WHEN LOWER(LINE_ITEM_NAME) LIKE '%alta%' THEN 'HIGH'\n      WHEN LOWER(LINE_ITEM_NAME) LIKE '%media%' THEN 'MID'\n      ELSE 'OTHER'\n    END AS bucket,\n    SAFE_DIVIDE(SUM(CLICKS_QTY), NULLIF(SUM(IMPRESSION_VIEWS_QTY), 0)) AS ctr\n  FROM `meli-bi-data.WHOWNER.BT_ADS_DISP_METRICS_DAILY`\n  WHERE EVENT_LOCAL_DT BETWEEN '2026-01-01' AND CURRENT_DATE()\n    AND SIT_SITE_ID IN ('MLA')\n    AND PLACEMENT LIKE '%MAIN-SLIDER%'\n    AND ACCOUNT_NAME LIKE '%MARKETING%'\n    AND LINE_ITEM_NAME NOT LIKE '%SPLINTER%'\n    AND CAMPAIGN_NAME NOT LIKE '%FD%'\n  GROUP BY 1\n),\n\nTARGETS_BY_DATE AS (\n  SELECT\n    cd.date,\n    cd.is_to,\n    COALESCE(ts_s.sessions, 0)                                                                            AS ts_sessions,\n    COALESCE(ts_n.nmv, 0)                                                                                 AS ts_nmv,\n    COALESCE(IF(cd.is_to, l_to.usuarios_landing, l_no.usuarios_landing), 0)                              AS ldg_usuarios,\n    COALESCE(IF(cd.is_to, l_to.sessions,          l_no.sessions),         0)                              AS ldg_sessions,\n    COALESCE(IF(cd.is_to, l_to.ses_contenedor,    l_no.ses_contenedor),   0)                              AS ldg_ses_cont,\n    COALESCE(IF(cd.is_to, l_to.ses_vip,           l_no.ses_vip),          0)                              AS ldg_ses_vip,\n    COALESCE(IF(cd.is_to, l_to.nsi,               l_no.nsi),              0)                              AS ldg_nsi,\n    COALESCE(IF(cd.is_to, l_to.transacciones,     l_no.transacciones),    0)                              AS ldg_trx,\n    COALESCE(IF(cd.is_to, l_to.nmv,               l_no.nmv),              0)                              AS ldg_nmv,\n    COALESCE(IF(cd.is_to, c_to.sessions,          c_no.sessions),         0)                              AS cnt_sessions,\n    COALESCE(IF(cd.is_to, c_to.ses_vip,           c_no.ses_vip),          0)                              AS cnt_ses_vip,\n    COALESCE(IF(cd.is_to, c_to.nsi,               c_no.nsi),              0)                              AS cnt_nsi,\n    COALESCE(IF(cd.is_to, c_to.transacciones,     c_no.transacciones),    0)                              AS cnt_trx\n  FROM CAMPAIGN_DATES cd\n  LEFT JOIN TS_SESSIONS     ts_s ON cd.date = ts_s.date\n  LEFT JOIN TS_NMV          ts_n ON cd.date = ts_n.date\n  LEFT JOIN LANDING_NO_TO   l_no ON cd.dow  = l_no.dow\n  LEFT JOIN LANDING_TO      l_to ON cd.dow  = l_to.dow\n  LEFT JOIN CONTAINER_NO_TO c_no ON cd.dow  = c_no.dow\n  LEFT JOIN CONTAINER_TO    c_to ON cd.dow  = c_to.dow\n)\n\nSELECT TO_BASE64(CAST(CONCAT(\n  '{\"dates\":',         (SELECT TO_JSON_STRING(ARRAY_AGG(CAST(date AS STRING) ORDER BY date)) FROM TARGETS_BY_DATE),\n  ',\"to_dates\":[\"2026-04-27\",\"2026-05-05\"]',\n  ',\"ms\":{',\n    '\"ctr_all\":',       (SELECT ROUND(SAFE_DIVIDE(SUM(CLICKS_QTY),NULLIF(SUM(IMPRESSION_VIEWS_QTY),0)),4) FROM `meli-bi-data.WHOWNER.BT_ADS_DISP_METRICS_DAILY` WHERE EVENT_LOCAL_DT BETWEEN '2026-01-01' AND CURRENT_DATE() AND SIT_SITE_ID IN ('MLA') AND PLACEMENT LIKE '%MAIN-SLIDER%' AND ACCOUNT_NAME LIKE '%MARKETING%' AND LINE_ITEM_NAME NOT LIKE '%SPLINTER%' AND CAMPAIGN_NAME NOT LIKE '%FD%'),\n    ',\"ctr_principal\":', (SELECT ROUND(MAX(IF(bucket='PRINCIPAL',ctr,NULL)),4) FROM MS_CTR),\n    ',\"ctr_high\":',      (SELECT ROUND(MAX(IF(bucket='HIGH',ctr,NULL)),4) FROM MS_CTR),\n    ',\"ctr_mid\":',       (SELECT ROUND(MAX(IF(bucket='MID',ctr,NULL)),4) FROM MS_CTR),\n  '}',\n  ',\"total_site\":{\"sessions\":', (SELECT TO_JSON_STRING(ARRAY_AGG(ROUND(ts_sessions,0) ORDER BY date)) FROM TARGETS_BY_DATE),\n    ',\"nmv\":',                  (SELECT TO_JSON_STRING(ARRAY_AGG(ROUND(ts_nmv,0) ORDER BY date)) FROM TARGETS_BY_DATE),\n  '}',\n  ',\"landing\":{\"sessions\":',       (SELECT TO_JSON_STRING(ARRAY_AGG(ROUND(ldg_sessions,0) ORDER BY date)) FROM TARGETS_BY_DATE),\n    ',\"usuarios_landing\":',         (SELECT TO_JSON_STRING(ARRAY_AGG(ROUND(ldg_usuarios,0) ORDER BY date)) FROM TARGETS_BY_DATE),\n    ',\"ses_contenedor\":',           (SELECT TO_JSON_STRING(ARRAY_AGG(ROUND(ldg_ses_cont,0) ORDER BY date)) FROM TARGETS_BY_DATE),\n    ',\"ses_vip\":',                  (SELECT TO_JSON_STRING(ARRAY_AGG(ROUND(ldg_ses_vip,0) ORDER BY date)) FROM TARGETS_BY_DATE),\n    ',\"nsi\":',                      (SELECT TO_JSON_STRING(ARRAY_AGG(ROUND(ldg_nsi,0) ORDER BY date)) FROM TARGETS_BY_DATE),\n    ',\"transacciones\":',            (SELECT TO_JSON_STRING(ARRAY_AGG(ROUND(ldg_trx,0) ORDER BY date)) FROM TARGETS_BY_DATE),\n    ',\"nmv\":',                      (SELECT TO_JSON_STRING(ARRAY_AGG(ROUND(ldg_nmv,0) ORDER BY date)) FROM TARGETS_BY_DATE),\n  '}',\n  ',\"container\":{\"sessions\":',      (SELECT TO_JSON_STRING(ARRAY_AGG(ROUND(cnt_sessions,0) ORDER BY date)) FROM TARGETS_BY_DATE),\n    ',\"ses_vip\":',                  (SELECT TO_JSON_STRING(ARRAY_AGG(ROUND(cnt_ses_vip,0) ORDER BY date)) FROM TARGETS_BY_DATE),\n    ',\"nsi\":',                      (SELECT TO_JSON_STRING(ARRAY_AGG(ROUND(cnt_nsi,0) ORDER BY date)) FROM TARGETS_BY_DATE),\n    ',\"transacciones\":',            (SELECT TO_JSON_STRING(ARRAY_AGG(ROUND(cnt_trx,0) ORDER BY date)) FROM TARGETS_BY_DATE),\n  '}',\n  ',\"nasp\":', (SELECT CAST(nasp AS STRING) FROM NASP),\n  ',\"refreshed_at\":\"', FORMAT_TIMESTAMP('%Y-%m-%dT%H:%M:%S', CURRENT_TIMESTAMP(), 'America/Argentina/Buenos_Aires'), '\"}'\n) AS BYTES)) AS data_b64",
                                         "options":  { "location":  "US" }
                                     },
                      "id":  "bq-targets",
                      "name":  "BQ Targets",
                      "type":  "n8n-nodes-base.googleBigQuery",
                      "position":  [340, 80],
                      "typeVersion":  2
                  },
                  {
                      "parameters":  {
                                         "url":  "https://api.github.com/repos/josefinaquirno/campaign_tracker/contents/docs/targets.json",
                                         "sendHeaders":  true,
                                         "headerParameters":  {
                                                                  "parameters":  [
                                                                                     { "name": "Authorization", "value": "Bearer TU_GITHUB_TOKEN_ACA" },
                                                                                     { "name": "User-Agent",    "value": "verdi-flow" }
                                                                                 ]
                                                              },
                                         "options":  {}
                                     },
                      "id":  "get-sha-targets",
                      "name":  "Get SHA Targets",
                      "type":  "n8n-nodes-base.httpRequest",
                      "position":  [520, 80],
                      "typeVersion":  4.2
                  },
                  {
                      "parameters":  {
                                         "method":  "PUT",
                                         "url":  "https://api.github.com/repos/josefinaquirno/campaign_tracker/contents/docs/targets.json",
                                         "sendHeaders":  true,
                                         "headerParameters":  {
                                                                  "parameters":  [
                                                                                     { "name": "Authorization",  "value": "Bearer TU_GITHUB_TOKEN_ACA" },
                                                                                     { "name": "Content-Type",   "value": "application/json" },
                                                                                     { "name": "User-Agent",     "value": "verdi-flow" }
                                                                                 ]
                                                              },
                                         "sendBody":  true,
                                         "bodyParameters":  {
                                                                "parameters":  [
                                                                                   { "name": "message", "value": "chore: refresh targets.json [skip ci]" },
                                                                                   { "name": "content", "value": "={{ $('BQ Targets').first().json.data_b64.replace(/\\n/g, '').replace(/\\r/g, '') }}" },
                                                                                   { "name": "sha",     "value": "={{ $json.sha }}" }
                                                                               ]
                                                            },
                                         "options":  {}
                                     },
                      "id":  "push-targets",
                      "name":  "Push Targets to GitHub",
                      "type":  "n8n-nodes-base.httpRequest",
                      "position":  [700, 80],
                      "typeVersion":  4.2
                  }
              ],
    "connections":  {
                        "Schedule Trigger":  { "main": [[{ "node": "BQ Targets",             "type": "main", "index": 0 }]] },
                        "BQ Targets":        { "main": [[{ "node": "Get SHA Targets",         "type": "main", "index": 0 }]] },
                        "Get SHA Targets":   { "main": [[{ "node": "Push Targets to GitHub",  "type": "main", "index": 0 }]] }
                    },
    "pinData":  {},
    "settings":  { "executionOrder": "v1" },
    "staticData":  null,
    "tags":  [],
    "triggerCount":  1,
    "versionId":  "targets-v1"
}
