verdi_search_terms.json
{
  "name": "Search Terms HOT SALE 2026",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger-st",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        160,
        80
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "projectId": "meli-bi-data",
        "sqlQuery": "WITH\nST_RAW AS (\n  SELECT\n    DATE                                                              AS date,\n    LOWER(QUERY)                                                      AS query,\n    CASE WHEN DOM_DOMAIN_ID != 'not set'\n         THEN SUBSTR(DOM_DOMAIN_ID, 5, 20)\n         ELSE 'not set' END                                           AS domain,\n    SUM(SEARCHS)                                                      AS searches,\n    SUM(SEARCHSWVIP)                                                  AS searches_vip,\n    MAX(RESULTS)                                                      AS max_results,\n    SUM(UNIQUEBUYERS_STRICT_24hr)                                     AS buyers,\n    SUM(ORDERS_STRICT_24hr)                                           AS orders,\n    SUM(TRX_STRICT_24hr)                                              AS trx,\n    SUM(GMV_STRICT_24hr)                                              AS gmv,\n    SUM(SI_STRICT_24hr)                                               AS si\n  FROM `meli-bi-data.WHOWNER.DM_SEARCHTERMS`\n  WHERE DATE BETWEEN DATE '2026-05-11' AND DATE '2026-05-18'\n    AND SIT_SITE_ID = 'MLA'\n    AND PLATFORM IN ('/mobile/android', '/mobile/ios')\n    AND LENGTH(LOWER(QUERY)) > 0\n    AND LOWER(QUERY) IS NOT NULL\n  GROUP BY 1, 2, 3\n),\nST_ENRICHED AS (\n  SELECT\n    CAST(date AS STRING)                                              AS date,\n    query,\n    domain,\n    searches,\n    searches_vip,\n    max_results,\n    ROUND(SAFE_DIVIDE(searches_vip, searches), 4)                     AS ctr,\n    ROUND(SAFE_DIVIDE(buyers, searches), 4)                           AS cvr,\n    orders,\n    trx,\n    ROUND(gmv, 2)                                                     AS gmv,\n    si,\n    buyers\n  FROM ST_RAW\n)\nSELECT TO_BASE64(CAST(\n  CONCAT(\n    '{\"dates\":[\"2026-05-11\",\"2026-05-12\",\"2026-05-13\",\"2026-05-14\",\"2026-05-15\",\"2026-05-16\",\"2026-05-17\",\"2026-05-18\"]',\n    ',\"search_terms\":',\n    (SELECT TO_JSON_STRING(ARRAY_AGG(STRUCT(\n      date, query, domain, searches, searches_vip, max_results, ctr, cvr, orders, trx, gmv, si, buyers\n    ) ORDER BY searches DESC LIMIT 500))\n     FROM ST_ENRICHED),\n    ',\"refreshed_at\":\"',\n    FORMAT_TIMESTAMP('%Y-%m-%dT%H:%M:%S', CURRENT_TIMESTAMP(), 'America/Argentina/Buenos_Aires'),\n    '\"}'\n  )\nAS BYTES)) AS data_b64",
        "options": {
          "location": "US"
        }
      },
      "id": "bq-search-terms",
      "name": "BQ Search Terms",
      "type": "n8n-nodes-base.googleBigQuery",
      "position": [
        340,
        80
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/josefinaquirno/campaign_tracker/contents/docs/search_terms.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer TU_GITHUB_TOKEN_ACA"
            },
            {
              "name": "User-Agent",
              "value": "verdi-flow"
            }
          ]
        },
        "options": {}
      },
      "id": "get-sha-st",
      "name": "Get SHA Search Terms",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        520,
        80
      ],
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/josefinaquirno/campaign_tracker/contents/docs/search_terms.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer TU_GITHUB_TOKEN_ACA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "verdi-flow"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "chore: refresh search_terms.json [skip ci]"
            },
            {
              "name": "content",
              "value": "={{ $('BQ Search Terms').first().json.data_b64.replace(/\\n/g, '').replace(/\\r/g, '') }}"
            },
            {
              "name": "sha",
              "value": "={{ $('Get SHA Search Terms').first().json.sha }}"
            }
          ]
        },
        "options": {}
      },
      "id": "push-search-terms",
      "name": "Push Search Terms to GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        700,
        80
      ],
      "typeVersion": 4.2
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "BQ Search Terms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BQ Search Terms": {
      "main": [
        [
          {
            "node": "Get SHA Search Terms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SHA Search Terms": {
      "main": [
        [
          {
            "node": "Push Search Terms to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}