verdi_flow.json
{
  "name": "Campaign Tracker — LIQUIDACION FINAL",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        160,
        80
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "projectId": "meli-bi-data",
        "sqlQuery": "-- ============================================================\n-- CAMPAIGN TRACKER — LIQUIDACION FINAL\n-- Fechas: 2026-05-19 → 2026-05-24\n-- ============================================================\n\nWITH\n\nMS_DATA AS (\n  SELECT\n    m.EVENT_LOCAL_DT   AS fecha,\n    m.CAMPAIGN_NAME    AS campaign_name,\n    M.LINE_ITEM_NAME   AS line_item,\n    CASE\n      WHEN (LI.LINE_ITEM_AUDIENCE_DMP IS NOT NULL) OR (JSON_VALUE(LI.LINE_ITEM_SITES_DISPLAYED) IS NOT NULL)\n      THEN 'SEGMENTADO' ELSE 'NO SEGMENTADO'\n    END AS segmentation,\n    SUM(m.CLICKS_QTY)              AS clicks,\n    SUM(m.IMPRESSION_VIEWS_QTY)    AS prints\n  FROM `meli-bi-data.WHOWNER.BT_ADS_DISP_METRICS_DAILY` m\n  INNER JOIN `meli-bi-data.WHOWNER.LK_ADS_LINE_ITEMS` LI ON LI.LINE_ITEM_ID = M.LINE_ITEM_ID\n  INNER JOIN `meli-bi-data.WHOWNER.LK_ADS_ACCOUNTS`   a  ON a.account_id   = m.ACCOUNT_ID\n  INNER JOIN `meli-bi-data.WHOWNER.LK_ADS_CAMPAIGNS`  C  ON C.CAMPAIGN_ID  = M.CAMPAIGN_ID\n  WHERE m.EVENT_LOCAL_DT BETWEEN '2026-05-19' AND '2026-05-24'\n    AND M.SIT_SITE_ID       IN ('MLA')\n    AND PLACEMENT            LIKE '%MAIN-SLIDER%'\n    AND ACCOUNT_TYPE         LIKE '%MARKETING%'\n    AND M.CAMPAIGN_NAME      LIKE '%DEMAND%T2%'\n    AND M.LINE_ITEM_NAME NOT LIKE '%SPLINTER%'\n    AND M.CAMPAIGN_NAME  NOT LIKE '%FD%'\n  GROUP BY ALL\n  HAVING SUM(m.PRINTS_QTY) > 0\n),\n\nLANDING_DATA AS (\n  SELECT\n    DATE_EVENT                   AS date,\n    LANDING_NAME,\n    SUM(TOTAL_SESSIONS)          AS sessions,\n    SUM(NMV_USD_168HS_LT)        AS nmv,\n    SUM(ORDERS_168HS_LT)         AS orders,\n    SUM(TRANSACTIONS_168HS_LT)   AS transactions,\n    SUM(SI_168HS_LT)             AS nsi,\n    SUM(BUYERS_168HS_LT)         AS buyers\n  FROM `meli-bi-data.WHOWNER.DM_LANDING_ATTRIBUTION_UNIFIED`\n  WHERE DATE_EVENT BETWEEN '2026-05-19' AND '2026-05-24'\n    AND SITE_ID = 'MLA'\n    AND LANDING_NAME IN ('liquidacion final')\n  GROUP BY DATE_EVENT, LANDING_NAME\n),\n\nSPLINTER_BASE AS (\n  SELECT\n    DATE(s.DATE_EVENT)   AS fecha,\n    s.LANDING_NAME,\n    s.PLATFORM,\n    MAX(s.total_prints)  AS prints,\n    SUM(s.total_clicks)  AS clicks\n  FROM `meli-bi-data.WHOWNER.DM_SPLINTER_COMPONENT` s\n  WHERE s.DATE_EVENT BETWEEN '2026-05-19' AND '2026-05-24'\n    AND s.SITE_ID IN ('MLA')\n    AND s.LANDING_NAME IN ('liquidacion final')\n    AND s.GLOBAL_POSITION IS NOT NULL\n  GROUP BY DATE(s.DATE_EVENT), s.LANDING_NAME, s.PLATFORM\n),\n\nSPLINTER_DATA AS (\n  SELECT\n    fecha,\n    LANDING_NAME,\n    SUM(prints) AS prints,\n    SUM(clicks) AS clicks,\n    ROUND(SAFE_DIVIDE(CAST(SUM(clicks) AS FLOAT64), CAST(SUM(prints) AS FLOAT64)), 4) AS ctr\n  FROM SPLINTER_BASE\n  GROUP BY fecha, LANDING_NAME\n),\n\nCONTAINER_DATA AS (\n  SELECT\n    DATE,\n    CONTAINER_NAME,\n    C_UNIQUE_SESSION   AS sessions,\n    TGMV_168HS         AS nmv,\n    SI_168HS           AS nsi,\n    ORDERS_168HS       AS orders,\n    TRANSACTION_168HS  AS transactions,\n    C_UNIQUE_USERS     AS users_container,\n    V_UNIQUE_USERS     AS users_vip,\n    BUYERS_168HS       AS buyers,\n    CASE\n      WHEN CONTAINER_NAME LIKE ('%ACC%')                                           THEN 'ACC'\n      WHEN CONTAINER_NAME LIKE ('%FASHION%')                                       THEN 'FASHION'\n      WHEN (CONTAINER_NAME LIKE ('%BEAUTY%') OR CONTAINER_NAME LIKE ('%BELLEZA%')) THEN 'BEAUTY'\n      WHEN (CONTAINER_NAME LIKE ('%SALUD%')  OR CONTAINER_NAME LIKE ('%HEALTH%'))  THEN 'HEALTH'\n      WHEN CONTAINER_NAME LIKE ('%HE%')                                            THEN 'HE'\n      WHEN CONTAINER_NAME LIKE ('%TEC%')                                           THEN 'TEC'\n      WHEN CONTAINER_NAME LIKE ('%CPG%')                                           THEN 'CPG'\n      WHEN CONTAINER_NAME LIKE ('%ENT%')                                           THEN 'ENT'\n      WHEN CONTAINER_NAME LIKE ('%CI%')                                            THEN 'CI'\n      WHEN CONTAINER_NAME LIKE ('%FH%')                                            THEN 'FH'\n      WHEN CONTAINER_NAME LIKE ('%SPORTS%')                                        THEN 'SPORTS'\n      WHEN (CONTAINER_NAME LIKE ('%TB BABY%') OR CONTAINER_NAME LIKE ('%TB%'))     THEN 'TB'\n      WHEN CONTAINER_NAME LIKE ('%FOOD_DELIVERY%')                                 THEN 'FOOD_DELIVERY'\n      WHEN CONTAINER_NAME LIKE ('%CROSS%')                                         THEN 'CROSS'\n      WHEN CONTAINER_NAME LIKE ('%CBT%')                                           THEN 'CBT'\n      ELSE 'OTHER'\n    END AS vertical\n  FROM `meli-bi-data.WHOWNER.DM_CONTAINERS_DEALS_ATTRIBUTION`\n  WHERE DATE BETWEEN '2026-05-19' AND '2026-05-24'\n    AND SITE = 'MLA'\n    AND CONTAINER_NAME LIKE '%MKP DEMAND LIQUIDACION FINAL MAYO 2026%'\n),\n\nTOTAL_CONTAINERS_DATA AS (\n  SELECT\n    DATE,\n    SUM(C_UNIQUE_SESSION) AS total_sessions,\n    SUM(TGMV_168HS)       AS total_nmv,\n    SUM(ORDERS_168HS)     AS total_orders,\n    SUM(BUYERS_168HS)     AS total_buyers\n  FROM `meli-bi-data.WHOWNER.DM_CONTAINERS_DEALS_ATTRIBUTION`\n  WHERE DATE BETWEEN '2026-05-19' AND '2026-05-24'\n    AND SITE = 'MLA'\n    AND DEAL_CONTAINER = 'container'\n    AND path IN ('/promotions', '/search')\n  GROUP BY 1\n),\n\nORDERS_SITE AS (\n  SELECT DISTINCT\n    ORD_CREATED_DT                                            AS date,\n    SUM(ORD_ITEM.BASE_CURRENT_PRICE * ORD_ITEM.QTY)          AS tgmv_usd,\n    COUNT(DISTINCT COALESCE(CRT_PURCHASE_ID, ORD_ORDER_ID))   AS transactions,\n    COUNT(DISTINCT ORD_BUYER.ID)                              AS buyers,\n    SUM(ORD_ITEM.QTY)                                         AS si,\n    COUNT(DISTINCT ORD_ORDER_ID)                              AS orders\n  FROM `meli-bi-data.WHOWNER.BT_ORD_ORDERS`\n  WHERE ORD_CREATED_DT BETWEEN '2026-05-19' AND '2026-05-24'\n    AND SIT_SITE_ID             IN ('MLA')\n    AND ORD_GMV_FLG             = TRUE\n    AND ORD_TGMV_FLG            = TRUE\n    AND ORD_ORDER_MSHOPS_FLG    = FALSE\n    AND ORD_ORDER_PROXIMITY_FLG = FALSE\n    AND ORD_STATUS              = 'paid'\n    AND ORD_CATEGORY.MARKETPLACE_ID = 'TM'\n  GROUP BY 1\n),\n\nSESSIONS_SITE AS (\n  SELECT\n    TRACK_DATE                                              AS date,\n    CAST(COUNT(DISTINCT CONCAT(UID, SESSION_ID)) AS INT64)  AS ts_sessions\n  FROM `meli-bi-data.WHOWNER.BT_MKP_SESSIONS`\n  WHERE TRACK_DATE BETWEEN '2026-05-19' AND '2026-05-24'\n    AND BU          = 'mercadolibre'\n    AND SIT_SITE_ID = 'MLA'\n    AND IS_BOUNCE   = FALSE\n    AND IS_CORE\n  GROUP BY 1\n),\n\nTOTAL_SITE_DATA AS (\n  SELECT\n    o.date,\n    o.tgmv_usd,\n    s.ts_sessions,\n    o.transactions,\n    o.buyers,\n    o.si,\n    o.orders\n  FROM ORDERS_SITE o\n  LEFT JOIN SESSIONS_SITE s ON o.date = s.date\n),\n\nLANDING_ORIG AS (\n  SELECT\n    DATE(DATE)               AS date,\n    LANDING_NAME             AS landing_name,\n    SUM(SESSIONS)            AS sessions,\n    SUM(TGMV_168HS)          AS nmv,\n    SUM(ORDERS_168HS)        AS orders,\n    SUM(TRANSACTIONS_168HS)  AS transactions,\n    SUM(SI_168HS)            AS nsi,\n    SUM(LISTADO_TOTAL_USERS) AS users_landing,\n    SUM(VPP_TOTAL_USERS)     AS users_container,\n    SUM(BUYERS_168HS)        AS buyers\n  FROM `meli-bi-data.WHOWNER.DM_LANDING_ATTRIBUTION_CONTAINER_DEAL`\n  WHERE DATE BETWEEN '2026-05-19' AND '2026-05-24'\n    AND SITE = 'MLA'\n    AND landing_name IN ('liquidacion final')\n  GROUP BY 1, 2\n)\n\nSELECT TO_BASE64(CAST(\n  CONCAT(\n    '{\"campaign\":{\"name\":\"LIQUIDACION FINAL\",\"start\":\"2026-05-19\",\"end\":\"2026-05-24\"},',\n    '\"ms\":',\n    (SELECT TO_JSON_STRING(ARRAY_AGG(STRUCT(\n      fecha, campaign_name, line_item, clicks, prints, segmentation\n    ))) FROM MS_DATA),\n    ',\"landing\":',\n    (SELECT TO_JSON_STRING(ARRAY_AGG(STRUCT(\n      date, LANDING_NAME AS landing_name,\n      sessions, nmv, orders, transactions, nsi, buyers\n    ))) FROM LANDING_DATA),\n    ',\"ctr_landing\":',\n    (SELECT TO_JSON_STRING(ARRAY_AGG(STRUCT(\n      fecha AS date, LANDING_NAME AS landing_name, prints, clicks, ctr\n    ))) FROM SPLINTER_DATA),\n    ',\"container\":',\n    (SELECT TO_JSON_STRING(ARRAY_AGG(STRUCT(\n      DATE AS date, CONTAINER_NAME AS container_name, vertical,\n      sessions, nmv, nsi, orders, transactions,\n      users_container, users_vip, buyers\n    ))) FROM CONTAINER_DATA),\n    ',\"total_containers\":',\n    (SELECT TO_JSON_STRING(ARRAY_AGG(STRUCT(\n      DATE AS date, total_sessions, total_nmv, total_orders, total_buyers\n    ))) FROM TOTAL_CONTAINERS_DATA),\n    ',\"total_site\":',\n    (SELECT TO_JSON_STRING(ARRAY_AGG(STRUCT(\n      date, tgmv_usd, ts_sessions, transactions, buyers, si, orders\n    ))) FROM TOTAL_SITE_DATA),\n    ',\"landing_original\":',\n    (SELECT TO_JSON_STRING(ARRAY_AGG(STRUCT(\n      date, landing_name, sessions, nmv, orders, transactions, nsi, users_landing, users_container, buyers\n    ) ORDER BY date)) FROM LANDING_ORIG),\n    ',\"refreshed_at\":\"',\n    FORMAT_TIMESTAMP('%Y-%m-%dT%H:%M:%S', CURRENT_TIMESTAMP(), 'America/Argentina/Buenos_Aires'),\n    '\"}')\nAS BYTES)) AS data_b64",
        "options": {
          "location": "US"
        }
      },
      "id": "bq-node",
      "name": "BQ Campaign Tracker",
      "type": "n8n-nodes-base.googleBigQuery",
      "maxTries": 5,
      "position": [
        336,
        80
      ],
      "retryOnFail": true,
      "typeVersion": 2.1,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/josefinaquirno/campaign_tracker/contents/docs/data_liqfinal.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer TU_GITHUB_TOKEN_ACA"
            },
            {
              "name": "User-Agent",
              "value": "verdi-flow"
            }
          ]
        },
        "options": {}
      },
      "id": "get-sha",
      "name": "Get File SHA",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        496,
        80
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/josefinaquirno/campaign_tracker/contents/docs/data_liqfinal.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer TU_GITHUB_TOKEN_ACA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "verdi-flow"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "chore: refresh data_liqfinal.json [skip ci]"
            },
            {
              "name": "content",
              "value": "={{ $('BQ Campaign Tracker').first().json.data_b64.replace(/\\n/g, '').replace(/\\r/g, '') }}"
            },
            {
              "name": "sha",
              "value": "={{ $('Get File SHA').first().json.sha }}"
            }
          ]
        },
        "options": {}
      },
      "id": "push-github",
      "name": "Push to GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        656,
        80
      ],
      "typeVersion": 4.2
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "BQ Campaign Tracker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BQ Campaign Tracker": {
      "main": [
        [
          {
            "node": "Get File SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File SHA": {
      "main": [
        [
          {
            "node": "Push to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}